<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

   <!-- Include project wide variables -->
   <?include Variables.wxi?>
   
   <Product Id="*" 
            Name="$(var.ProductName) ($(var.Platform))" 
            Language="1033" 
            Version="$(var.BridgeLinkVersion)" 
            Manufacturer="WSDOT" 
            UpgradeCode="$(var.UpgradeCode)">
		<Package Id="*" 
               Compressed="yes" 
               Comments="A member of the Alternate Route Project"
               InstallerVersion="300"
               Keywords="Integrated Bridge Engineering Software Environment"
               Languages="1033"
               Manufacturer="WSDOT"
               Platform="$(var.Platform)"
               InstallScope="perMachine" />

		<MajorUpgrade 
         DowngradeErrorMessage="A newer version of [ProductName] is already installed." 
         Schedule="afterInstallValidate"/> 

      <Upgrade Id="$(var.UpgradeCode)">
         <UpgradeVersion OnlyDetect="no" Property='PREVIOUSFOUND' Minimum="0.0.0.0" IncludeMinimum="yes" Maximum="$(var.BridgeLinkVersion)" IncludeMaximum="no"/>
      </Upgrade>


      <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

      <!--<Icon Id="BridgeLinkIcon" SourceFile="$(var.SolutionDir)\res\BridgeLink.ico" />-->
      <Icon Id="BridgeLinkIcon" SourceFile="\ARP\BridgeLink\res\BridgeLink.ico" />

      <!-- Define the directory structure on the target machine -->
      <Directory Id="TARGETDIR" Name="SourceDir">
         <Directory Id="$(var.ProgramFilesDirectory)">
            <Directory Id="WSDOT" Name="WSDOT">
               <Directory Id="APPLICATIONFOLDER" Name="$(var.ProductName)">
               </Directory>
            </Directory>
         </Directory>
         <Directory Id="ProgramMenuFolder">
            <Directory Id="EngineeringApplicationsStartMenuFolder" Name="Engineering Applications">
               <Directory Id="BridgeLinkStartMenuFolder" Name="$(var.ProductName)"/>
            </Directory>
         </Directory>
      </Directory>


      <!-- BridgeLink Application -->
      <Feature Id="BridgeLink"
               Absent="disallow" 
               ConfigurableDirectory="APPLICATIONFOLDER"
               Description="BridgeLink Application"
               Display="expand"
               Title="BridgeLink (Required)" 
               Level="1">
         
         <!-- Components for the main executable program -->
			<ComponentRef Id="BridgeLinkComponents" Primary="yes" /> <!-- This is the main BridgeLink executable -->
         <ComponentRef Id="BridgeLinkSupportFiles"/> <!-- BridgeLink support files such as the help document -->
         <ComponentRef Id="EngineeringApplicationsShortcuts"/> <!-- Creates the "Engineering Applications" shortcut from the Start menu -->
         <ComponentRef Id="BridgeLinkShortcuts"/> <!-- Creates the "BridgeLink" shortcut under "Engineering Applications" -->
         
         <!-- Components for the required dependicies -->
         <ComponentRef Id="WBFLComponents"/> <!-- WBFL and dependent components -->
         <ComponentRef Id="OpenBridgeML"/>
         <ComponentRef Id="Xalan"/>
         <ComponentRef Id="XalanMessages"/>
         <ComponentRef Id="Xerces"/>
         <FeatureRef Id="Redistributables" />

         <!-- This are the BridgeLink Plugin Applications in this installer package -->
         <FeatureRef Id="PGSuper" /> <!-- PGSuper and PGSplice -->
         <FeatureRef Id="BEToolbox" />
      </Feature>

      <!-- Installation Requirements -->
      <!--
    <Condition Message="Internet Explorer 5 or greater needs to be installed for this installation to continue.">IE5FOUND</Condition>-->

      <!-- Restrict OS... see http://wixtoolset.org/documentation/manual/v3/howtos/redistributables_and_install_checks/block_install_on_os.html -->

      <?if $(var.Platform) = "x64"?>
      <Condition Message="[ProductName] requires that your computer is running Windows Vista or higher.">
         <![CDATA[Installed OR (VersionNT64 >= 600)]]>
      </Condition>
      <?else?>
      <Condition Message="[ProductName] requires that your computer is running Windows Vista or higher.">
         <![CDATA[Installed OR (VersionNT >= 600)]]>
      </Condition>
      <?endif?>

      <!-- Add and Remove Programs Entries -->
      <Property Id='ARPCOMMENTS'>BridgeLink is a member of the Alternate Route Project.</Property>
      <Property Id='ARPCONTACT'>Post your questions to the suport forums at http://www.pgsuper.com</Property>
      <Property Id='ARPHELPLINK'>http://www.wsdot.wa.gov/eesc/bridge/software</Property>
      <Property Id='ARPURLINFOABOUT'>http://www.wsdot.wa.gov/eesc/bridge/software</Property>
      <!--<Property Id='ARPURLUPDATINFO'>URL for product updates</Property>-->
      <!--<Property Id='ARPHELPTELEPHONE'>???-???-????</Property>-->
      <!--<Property Id='ARPREADME'>path to readme file</Property>-->
      <!--<Property Id='ARPSIZE'>application size in kb (Windows reports bad size)</Property>-->
      <!--<Property Id='ARPPRODUCTICON'>BridgeLinkIcon</Property>-->

      <!-- Remove commented elements to adjust Modify/Remove/Repair buttons for installer -->
      <!-- Remove the modify button 
    <Property Id='ARPNOMODIFY'>1</Property>-->
      <!-- Remove the remove button 
    <Property Id='ARPNOREMOVE'>1</Property>-->
      <!-- Remove the repair button 
    <Property Id='ARPNOREPAIR'>1</Property>-->

      <!-- Add default user interface -->
      <Property Id='WixAppFolder'
                Value='WixPerMachineFolder' />
      <WixVariable Id='WixUISupportPerUser' Value='0'/>

      <!--<UIRef Id='WixUI_Advanced'/>-->
      <UIRef Id='WixUI_FeatureTree'/>
      <UIRef Id='WixUI_ErrorProgressText'/>


      <!-- Use our custom bitmaps in the UI -->
      <WixVariable Id="WixUIDialogBmp"
                   Value="DialogBitmap.bmp"/>
      <WixVariable Id="WixUIBannerBmp"
                   Value="DialogBanner.bmp"/>

      <!-- Content for the license agreement -->
      <WixVariable Id="WixUILicenseRtf"
                   Value="License.rtf"/>

      <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Thank you for installing BridgeLink"/>
   </Product>
</Wix>