<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

   <!-- Include project wide variables -->
   <?include Variables.wxi?>

   <Fragment>

      <!-- Library Editor -->
      <DirectoryRef Id="APPLICATIONFOLDER"
                    FileSource="$(var.PGSuperSourceRoot)\AutomationDlls\$(var.PlatformFolder)" >
         <Component Id="LibraryEditor"
                    Guid="{CB88E193-C467-4944-84EC-46A30B82C5CF}"
                    Win64="$(var.IsWin64)">

            <File Id="PGSuperLibrary.dll"    Name="PGSuperLibrary.dll" KeyPath="yes"/>

            <!-- Library File associations -->
            <ProgId Id="PGSLibrary.Document" Icon="PGSuperLibrary.dll" IconIndex="0"/>

            <!-- Create component categories for things that can plug into the library editor-->
            <?define LibraryEditorPluginCATID={01FF3D4E-ED8C-4a71-B68A-2B2FDD25AFB4}?>
            <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                         Root="HKCR"
                         Key ="Component Categories\$(var.LibraryEditorPluginCATID)"/>
            <RegistryValue Root="HKCR"
                           Key="Component Categories\$(var.LibraryEditorPluginCATID)"
                           Name="800"
                           Value="PGS Library Editor"
                           Type="string" />

            <!-- Register the library editor as a plug-in into the BridgeLink Application-->
            <?define LibraryEditorBridgeLinkPluginCLSID={E96DEDC8-4D09-47ea-98E9-9731692D40AB}?>
            <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                         Root="HKCR"
                         Key ="CLSID\$(var.LibraryEditorBridgeLinkPluginCLSID)"/>
            <RegistryValue Root="HKCR"
                           Key="CLSID\$(var.LibraryEditorBridgeLinkPluginCLSID)"
                           Value="PGS Library Editor"
                           Type="string" />
            <RegistryValue Root="HKCR"
                           Key="CLSID\$(var.LibraryEditorBridgeLinkPluginCLSID)\InprocServer32"
                           Value="[APPLICATIONFOLDER]PGSuperLibrary.dll"
                           Type="string" />
            <RegistryValue Root="HKCR"
                           Key="CLSID\$(var.LibraryEditorBridgeLinkPluginCLSID)\Implemented Categories\$(var.BridgeLinkAppPluginCATID)"
                           Value=""
                           Type="string" />
         </Component>
      </DirectoryRef>
   </Fragment>
</Wix>