<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
   <Fragment Id="MergeModules">
   <!-- Merge Modules -->
   <DirectoryRef Id="TARGETDIR">
      <Merge Id="VCRedist"
             SourceFile="C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\VC\Redist\MSVC\v142\MergeModules\Microsoft_VC142_CRT_x64.msm"
             DiskId="1"
             Language="0"/>
     <Merge Id="MFCRedist"
             SourceFile="C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\VC\Redist\MSVC\v142\MergeModules\Microsoft_VC142_MFC_x64.msm"
             DiskId="1"
             Language="0"/>
     <Merge Id="MFCLocRedist"
            SourceFile="C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\VC\Redist\MSVC\v142\MergeModules\Microsoft_VC142_MFCLOC_x64.msm"
            DiskId="1"
            Language="0"/>
   </DirectoryRef>

   <Feature Id="Redistributables"
            Title="CTR, MFC, ATL, etc"
            AllowAdvertise="no"
            Display="hidden"
            Absent="disallow"
            Level="1">
      <MergeRef Id="VCRedist"/>
     <MergeRef Id="MFCRedist"/>
     <MergeRef Id="MFCLocRedist"/>
   </Feature>
   </Fragment>
</Wix>