<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

   <!-- Include project wide variables -->
   <?include Variables.wxi?>

   <Fragment>
      <!-- Define directory structure on target machine -->
      <DirectoryRef Id="APPLICATIONFOLDER">
         <Directory Id="Templates" Name="Templates">
            <Directory Id="PGSpliceTemplates">
               <Directory Id="I_Beams" Name="I-Beams" />
               <Directory Id="U_Beams" Name="U-Beams" />
            </Directory>
            <Directory Id="PGSuperTemplates">
               <Directory Id="Deck_Bulb_Tees" Name="Deck_Bulb_Tees" />
               <Directory Id="Multiweb" Name="Multiweb" />
               <Directory Id="Slabs" Name="Slabs" />
               <Directory Id="UGirders" Name="U-Girders" />
               <Directory Id="WBTGirders" Name="WBT-Girders" />
               <Directory Id="WFGirders" Name="WF-Girders" />
               <Directory Id="WGirders" Name="W-Girders" />
            </Directory>
         </Directory>
      </DirectoryRef>

      <!-- Local Library File (PGSuper/PGSplice) -->
         <DirectoryRef Id="APPLICATIONFOLDER" FileSource="$(var.PGSuperSourceRoot)\Templates" >
            <Component Id="PGSuperLibraryFile"
                       Guid="{FC12DFE3-1D24-4BC4-AAFF-1B8F08151BEC}"
                       Win64="$(var.IsWin64)">
               <File Id="WSDOT.lbr"   Name="WSDOT.lbr"  KeyPath="yes"/>
            </Component>
         </DirectoryRef>

         <!-- PGSuper Templates -->
         <DirectoryRef Id="Deck_Bulb_Tees"
                       FileSource="$(var.PGSuperSourceRoot)\Templates\PGSuper\Deck_Bulb_Tees" >
            <Component Id="Deck_Bulb_Tees"
                       Guid="{347D3F44-E81A-461a-91E1-E7D2EE47652E}"
                       Win64="$(var.IsWin64)">
               <File Id="W35DG.pgt"     Name="W35DG.pgt"             KeyPath="yes"/>
               <File Id="W41DG.pgt"     Name="W41DG.pgt"/>
               <File Id="W53DG.pgt"     Name="W53DG.pgt"/>
               <File Id="W65DG.pgt"     Name="W65DG.pgt"/>
            </Component>
         </DirectoryRef>
         <DirectoryRef Id="Multiweb"
                       FileSource="$(var.PGSuperSourceRoot)\Templates\PGSuper\Multiweb" >
            <Component Id="Multiweb"
                       Guid="{3F084D09-7FF9-4fca-AB41-FA662B4D5B41}"
                       Win64="$(var.IsWin64)">
               <File Id="RibbedGirder.pgt"   Name="Ribbed Girder.pgt"          KeyPath="yes"/>
            </Component>
         </DirectoryRef>
         <DirectoryRef Id="Slabs"
                       FileSource="$(var.PGSuperSourceRoot)\Templates\PGSuper\Slabs" >
            <Component Id="Slabs"
                       Guid="{47B2E980-30CF-47c1-AC5F-423EB1F7FF36}"
                       Win64="$(var.IsWin64)">
               <File Id="Slab1"    Name="1-0 Solid Slab.pgt"     KeyPath="yes"/>
               <File Id="Slab2"    Name="1-6 Voided Slab.pgt"/>
               <File Id="Slab3"    Name="2-2 Voided Slab.pgt"/>
               <File Id="Slab4"    Name="2-6 Voided Slab.pgt"/>
               <File Id="Slab5"    Name="3-0 Voided Slab.pgt"/>
            </Component>
         </DirectoryRef>
         <DirectoryRef Id="UGirders"
                       FileSource="$(var.PGSuperSourceRoot)\Templates\PGSuper\U-Girders" >
            <Component Id="UGirders"
                       Guid="{971AD810-96A5-486b-8EA4-2ADD97B54857}"
                       Win64="$(var.IsWin64)">
               <File Id="U54G4.pgt"       Name="U54G4.pgt"             KeyPath="yes"/>
               <File Id="U54G5.pgt"       Name="U54G5.pgt"/>
               <File Id="U54G6.pgt"       Name="U54G6.pgt"/>
            </Component>
         </DirectoryRef>
         <DirectoryRef Id="WBTGirders"
                       FileSource="$(var.PGSuperSourceRoot)\Templates\PGSuper\WBT-Girders" >
            <Component Id="WBTGirders"
                       Guid="{CF510295-A099-43a7-B70A-16D1AA36FE1E}"
                       Win64="$(var.IsWin64)">
               <File Id="W32BTG.pgt"      Name="W32BTG.pgt"           KeyPath="yes"/>
               <File Id="W38BTG.pgt"      Name="W38BTG.pgt"/>
               <File Id="W62BTG.pgt"      Name="W62BTG.pgt"/>
            </Component>
         </DirectoryRef>
         <DirectoryRef Id="WFGirders"
                       FileSource="$(var.PGSuperSourceRoot)\Templates\PGSuper\WF-Girders" >
            <Component Id="WFGirders"
                       Guid="{BD0780EB-07AE-455c-B907-C84B7EF44732}"
                       Win64="$(var.IsWin64)">
               <File Id="WF36G.pgt"             Name="WF36G.pgt"              KeyPath="yes"/>
               <File Id="WF42G.pgt"             Name="WF42G.pgt"/>
               <File Id="WF50G.pgt"             Name="WF50G.pgt"/>
               <File Id="WF58G.pgt"             Name="WF58G.pgt"/>
               <File Id="WF66G.pgt"             Name="WF66G.pgt"/>
               <File Id="WF74G.pgt"             Name="WF74G.pgt"/>
               <File Id="WF83G.pgt"             Name="WF83G.pgt"/>
               <File Id="WF95G.pgt"             Name="WF95G.pgt"/>
               <File Id="WF100G.pgt"            Name="WF100G.pgt"/>
            </Component>
         </DirectoryRef>
         <DirectoryRef Id="WGirders"
                       FileSource="$(var.PGSuperSourceRoot)\Templates\PGSuper\W-Girders" >
            <Component Id="WGirders"
                       Guid="{B151B186-77DD-4286-AFF0-A575A19F7623}"
                       Win64="$(var.IsWin64)">
               <File Id="W42G.pgt"      Name="W42G.pgt"             KeyPath="yes"/>
               <File Id="W50G.pgt"      Name="W50G.pgt"/>
               <File Id="W58G.pgt"      Name="W58G.pgt"/>
               <File Id="W74G.pgt"      Name="W74G.pgt"/>
            </Component>
         </DirectoryRef>

      <!-- PGSplice Templates -->
      <DirectoryRef Id="I_Beams"
                       FileSource="$(var.PGSuperSourceRoot)\Templates\PGSplice\I-Beams" >
         <Component Id="I_Beams"
                    Guid="{FE734160-B5CC-45ef-8860-C665AC0FF748}"
                    Win64="$(var.IsWin64)">
            <File Id="IBeams_1_Span.spt"    Name="1 Span.spt"             KeyPath="yes"/>
            <File Id="IBeams_2_Span.spt"    Name="2 Span.spt"/>
            <File Id="IBeams_3_Span.spt"    Name="3 Span.spt"/>
            <File Id="I_Beams.ico"   Name="I-Beams.ico"/>
         </Component>
      </DirectoryRef>
      <DirectoryRef Id="U_Beams"
                    FileSource="$(var.PGSuperSourceRoot)\Templates\PGSplice\U-Beams" >
         <Component Id="U_Beams"
                    Guid="{76187DED-D98D-478f-B1AD-9A6514A963FF}"
                    Win64="$(var.IsWin64)">
            <File Id="UBeams_1_Span.spt"    Name="1 Span.spt"             KeyPath="yes"/>
            <File Id="UBeams_2_Span.spt"    Name="2 Spans.spt"/>
            <File Id="UBeams_3_Span.spt"    Name="3 Spans.spt"/>
            <File Id="U_Beams.ico"   Name="U-Beams.ico"/>
         </Component>
      </DirectoryRef>

   </Fragment>
</Wix>