<?xml version='1.0'?>
<!-- This file genereted by BuildPGSuperImagesFragment.js script-->
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
<!-- Include project wide variables -->
<?include Variables.wxi?>
<Fragment Id='Images'>
<DirectoryRef Id="APPLICATIONFOLDER" FileSource ="$(var.PGSuperSourceRoot)AutomationDlls$(var.PlatformFolder)" >
<Directory Id="Images" Name="Images" /> <!-- Create the Images directory -->
</DirectoryRef>
<DirectoryRef Id='Images' FileSource='$(var.PGSuperSourceRoot)Images'>
<Component Id='Images' Guid='{1F1083F4-5C49-46b7-880E-A34DCB3D79C9}' Win64='$(var.IsWin64)'>
<File Id='Image0' Name='+Mn_BoxBeam_Composite.gif' KeyPath='yes' />
<File Id='Image1' Name='+Mn_BoxBeam_Noncomposite.gif' />
<File Id='Image2' Name='+Mn_BulbTee_Composite.gif' />
<File Id='Image3' Name='+Mn_BulbTee_Noncomposite.gif' />
<File Id='Image4' Name='+Mn_DeckedSlabBeam_Composite.gif' />
<File Id='Image5' Name='+Mn_DeckedSlabBeam_Noncomposite.gif' />
<File Id='Image6' Name='+Mn_DoubleTee_Composite.gif' />
<File Id='Image7' Name='+Mn_DoubleTee_Noncomposite.gif' />
<File Id='Image8' Name='+Mn_IBeam_Composite.gif' />
<File Id='Image9' Name='+Mn_SpreadBoxBeam_Composite.gif' />
<File Id='Image10' Name='+Mn_SpreadVoidedSlab_Composite.gif' />
<File Id='Image11' Name='+Mn_TripleTee_Composite.gif' />
<File Id='Image12' Name='+Mn_TripleTee_Noncomposite.gif' />
<File Id='Image13' Name='+Mn_UBeam_Composite.gif' />
<File Id='Image14' Name='+Mn_VoidedSlab_Composite.gif' />
<File Id='Image15' Name='+Mn_VoidedSlab_Noncomposite.gif' />
<File Id='Image16' Name='-Mn_BoxBeam_Composite.gif' />
<File Id='Image17' Name='-Mn_BoxBeam_Noncomposite.gif' />
<File Id='Image18' Name='-Mn_BulbTee_Composite.gif' />
<File Id='Image19' Name='-Mn_BulbTee_Noncomposite.gif' />
<File Id='Image20' Name='-Mn_DeckedSlabBeam_Composite.gif' />
<File Id='Image21' Name='-Mn_DeckedSlabBeam_Noncomposite.gif' />
<File Id='Image22' Name='-Mn_DoubleTee_Composite.gif' />
<File Id='Image23' Name='-Mn_DoubleTee_Noncomposite.gif' />
<File Id='Image24' Name='-Mn_IBeam_Composite.gif' />
<File Id='Image25' Name='-Mn_SpreadBoxBeam_Composite.gif' />
<File Id='Image26' Name='-Mn_SpreadVoidedSlab_Composite.gif' />
<File Id='Image27' Name='-Mn_TripleTee_Composite.gif' />
<File Id='Image28' Name='-Mn_TripleTee_Noncomposite.gif' />
<File Id='Image29' Name='-Mn_UBeam_Composite.gif' />
<File Id='Image30' Name='-Mn_VoidedSlab_Composite.gif' />
<File Id='Image31' Name='-Mn_VoidedSlab_Noncomposite.gif' />
<File Id='Image32' Name='ACI209_CreepCoefficient.png' />
<File Id='Image33' Name='ACI209_HumidityCorrection.png' />
<File Id='Image34' Name='ACI209_LoadingAgeCorrection_Moist_Cured.png' />
<File Id='Image35' Name='ACI209_LoadingAgeCorrection_Steam_Cured.png' />
<File Id='Image36' Name='ACI209_Shrinkage_MoistCured.png' />
<File Id='Image37' Name='ACI209_Shrinkage_MoistCured_CPFactor.png' />
<File Id='Image38' Name='ACI209_Shrinkage_SteamCured.png' />
<File Id='Image39' Name='ACI209_TimeDependentProperties.png' />
<File Id='Image40' Name='ACI209_VolumeSurfaceRatioCorrection.png' />
<File Id='Image41' Name='ApproxLoss_LRFD_BoxGirder_LowRelax_SI.png' />
<File Id='Image42' Name='ApproxLoss_LRFD_BoxGirder_LowRelax_US.png' />
<File Id='Image43' Name='ApproxLoss_LRFD_BoxGirder_StressRel_SI.png' />
<File Id='Image44' Name='ApproxLoss_LRFD_BoxGirder_StressRel_US.png' />
<File Id='Image45' Name='ApproxLoss_LRFD_IBeam_LowRelax_SI.png' />
<File Id='Image46' Name='ApproxLoss_LRFD_IBeam_LowRelax_US.png' />
<File Id='Image47' Name='ApproxLoss_LRFD_IBeam_StressRel_SI.png' />
<File Id='Image48' Name='ApproxLoss_LRFD_IBeam_StressRel_US.png' />
<File Id='Image49' Name='ApproxLoss_LRFD_SingleT_LowRelax_SI.png' />
<File Id='Image50' Name='ApproxLoss_LRFD_SingleT_LowRelax_US.png' />
<File Id='Image51' Name='ApproxLoss_LRFD_SingleT_StressRel_SI.png' />
<File Id='Image52' Name='ApproxLoss_LRFD_SingleT_StressRel_US.png' />
<File Id='Image53' Name='ApproxLoss_LRFD_SolidSlab_LowRelax_SI.png' />
<File Id='Image54' Name='ApproxLoss_LRFD_SolidSlab_LowRelax_US.png' />
<File Id='Image55' Name='ApproxLoss_LRFD_SolidSlab_StressRel_SI.png' />
<File Id='Image56' Name='ApproxLoss_LRFD_SolidSlab_StressRel_US.png' />
<File Id='Image57' Name='ApproxLoss_LRFD_UBeam_LowRelax_SI.png' />
<File Id='Image58' Name='ApproxLoss_LRFD_UBeam_LowRelax_US.png' />
<File Id='Image59' Name='ApproxLoss_LRFD_UBeam_StressRel_SI.png' />
<File Id='Image60' Name='ApproxLoss_LRFD_UBeam_StressRel_US.png' />
<File Id='Image61' Name='ApproxLoss_WSDOT_IBeam_LowRelax_SI.png' />
<File Id='Image62' Name='ApproxLoss_WSDOT_IBeam_LowRelax_US.png' />
<File Id='Image63' Name='ApproxLoss_WSDOT_IBeam_StressRel_SI.png' />
<File Id='Image64' Name='ApproxLoss_WSDOT_IBeam_StressRel_US.png' />
<File Id='Image65' Name='ApproxLoss_WSDOT_UBeam_LowRelax_SI.png' />
<File Id='Image66' Name='ApproxLoss_WSDOT_UBeam_LowRelax_US.png' />
<File Id='Image67' Name='ApproxLoss_WSDOT_UBeam_StressRel_SI.png' />
<File Id='Image68' Name='ApproxLoss_WSDOT_UBeam_StressRel_US.png' />
<File Id='Image69' Name='AvfMin_SI.png' />
<File Id='Image70' Name='AvfMin_US.png' />
<File Id='Image71' Name='AvOverSMin_ALWC_SI.png' />
<File Id='Image72' Name='AvOverSMin_ALWC_US.png' />
<File Id='Image73' Name='AvOverSMin_LWC_SI.png' />
<File Id='Image74' Name='AvOverSMin_LWC_US.png' />
<File Id='Image75' Name='AvOverSMin_NWC_SI.png' />
<File Id='Image76' Name='AvOverSMin_NWC_US.png' />
<File Id='Image77' Name='AvOverSMin_SLWC_SI.png' />
<File Id='Image78' Name='AvOverSMin_SLWC_US.png' />
<File Id='Image79' Name='BearingRecessSlope.gif' />
<File Id='Image80' Name='BetaEquation.png' />
<File Id='Image81' Name='BoxBeam.gif' />
<File Id='Image82' Name='BoxBeam2.gif' />
<File Id='Image83' Name='BoxBeam_Composite.gif' />
<File Id='Image84' Name='BoxBeam_Composite_CIP.gif' />
<File Id='Image85' Name='BoxBeam_Composite_SIP.gif' />
<File Id='Image86' Name='BoxBeam_Effective_Flange_Width_Exterior_Girder.gif' />
<File Id='Image87' Name='BoxBeam_Effective_Flange_Width_Exterior_Girder_2008.gif' />
<File Id='Image88' Name='BoxBeam_Effective_Flange_Width_Interior_Girder.gif' />
<File Id='Image89' Name='BoxBeam_Effective_Flange_Width_Interior_Girder_2008.gif' />
<File Id='Image90' Name='BoxBeam_Noncomposite.gif' />
<File Id='Image91' Name='BoxBeam_TorsionalConstant.gif' />
<File Id='Image92' Name='BulbTee.png' />
<File Id='Image93' Name='BulbTee_Composite.gif' />
<File Id='Image94' Name='BulbTee_Effective_Flange_Width_Exterior_Girder.gif' />
<File Id='Image95' Name='BulbTee_Effective_Flange_Width_Exterior_Girder_2008.gif' />
<File Id='Image96' Name='BulbTee_Effective_Flange_Width_Interior_Girder.gif' />
<File Id='Image97' Name='BulbTee_Noncomposite.gif' />
<File Id='Image98' Name='Camber_CIP.gif' />
<File Id='Image99' Name='Camber_CIP_FutureOverlay.gif' />
<File Id='Image100' Name='Camber_CIP_TempStrands.gif' />
<File Id='Image101' Name='Camber_CIP_TempStrands_FutureOverlay.gif' />
<File Id='Image102' Name='Camber_NoDeck.gif' />
<File Id='Image103' Name='Camber_NoDeck_FutureOverlay.gif' />
<File Id='Image104' Name='Camber_NoDeck_TempStrands.gif' />
<File Id='Image105' Name='Camber_NoDeck_TempStrands_FutureOverlay.gif' />
<File Id='Image106' Name='Camber_SIP.gif' />
<File Id='Image107' Name='Camber_SIP_FutureOverlay.gif' />
<File Id='Image108' Name='Camber_SIP_TempStrands.gif' />
<File Id='Image109' Name='Camber_SIP_TempStrands_FutureOverlay.gif' />
<File Id='Image110' Name='CEBFIP_Creep.png' />
<File Id='Image111' Name='CEBFIP_Shrinkage.png' />
<File Id='Image112' Name='CEBFIP_TimeDependentProperties.png' />
<File Id='Image113' Name='ConcreteFactors_Deck_SI.png' />
<File Id='Image114' Name='ConcreteFactors_Deck_US.png' />
<File Id='Image115' Name='ConcreteFactors_SI.png' />
<File Id='Image116' Name='ConcreteFactors_US.png' />
<File Id='Image117' Name='Connection_BrgAlongGdr_EndAlongGdrFromBrg.gif' />
<File Id='Image118' Name='Connection_BrgAlongGdr_EndAlongGdrFromPier.gif' />
<File Id='Image119' Name='Connection_BrgAlongGdr_EndAlongNormalFromBrg.gif' />
<File Id='Image120' Name='Connection_BrgAlongGdr_EndAlongNormalFromPier.gif' />
<File Id='Image121' Name='Connection_BrgAlongNormal_EndAlongGdrFromBrg.gif' />
<File Id='Image122' Name='Connection_BrgAlongNormal_EndAlongGdrFromPier.gif' />
<File Id='Image123' Name='Connection_BrgAlongNormal_EndAlongNormalFromBrg.gif' />
<File Id='Image124' Name='Connection_BrgAlongNormal_EndAlongNormalFromPier.gif' />
<File Id='Image125' Name='cotan_theta_ALWC.png' />
<File Id='Image126' Name='cotan_theta_LWC.png' />
<File Id='Image127' Name='cotan_theta_NWC.png' />
<File Id='Image128' Name='cotan_theta_SLWC.png' />
<File Id='Image129' Name='Critical Section Picture 2004.jpg' />
<File Id='Image130' Name='critical section picture.jpg' />
<File Id='Image131' Name='DeckedSlabBeam.gif' />
<File Id='Image132' Name='DeckedSlabBeam_Composite.gif' />
<File Id='Image133' Name='DeckedSlabBeam_Effective_Flange_Width_Exterior_Girder.gif' />
<File Id='Image134' Name='DeckedSlabBeam_Effective_Flange_Width_Exterior_Girder_2008.gif' />
<File Id='Image135' Name='DeckedSlabBeam_Effective_Flange_Width_Interior_Girder.gif' />
<File Id='Image136' Name='DeckedSlabBeam_Effective_Flange_Width_Interior_Girder_2008.gif' />
<File Id='Image137' Name='DeckedSlabBeam_Noncomposite.gif' />
<File Id='Image138' Name='DeltaFcd2_Gross.png' />
<File Id='Image139' Name='DeltaFcd2_Transformed.png' />
<File Id='Image140' Name='DeltaFcdLL_Gross.png' />
<File Id='Image141' Name='DeltaFcdLL_Transformed.png' />
<File Id='Image142' Name='DeltaFcd_Gross.png' />
<File Id='Image143' Name='DeltaFcd_Transformed.png' />
<File Id='Image144' Name='DeltaFpt.png' />
<File Id='Image145' Name='DeltaFpt_2005.png' />
<File Id='Image146' Name='DeltaFpt_NoTTS.png' />
<File Id='Image147' Name='DeltaFpt_NoTTS_2005.png' />
<File Id='Image148' Name='DeltaFpt_PS_TTS.png' />
<File Id='Image149' Name='DeltaFpt_PS_TTS_2005.png' />
<File Id='Image150' Name='DeltaFpt_PT_TTS.png' />
<File Id='Image151' Name='DeltaFpt_PT_TTS_2005.png' />
<File Id='Image152' Name='DeltaFpt_TTS_2005.png' />
<File Id='Image153' Name='Delta_Fcdp.png' />
<File Id='Image154' Name='Delta_FpA.png' />
<File Id='Image155' Name='Delta_FpCD_2007_Gross.png' />
<File Id='Image156' Name='Delta_FpCD_2007_PS_Gross.png' />
<File Id='Image157' Name='Delta_FpCD_2007_PS_Transformed.png' />
<File Id='Image158' Name='Delta_FpCD_2007_PT_Gross.png' />
<File Id='Image159' Name='Delta_FpCD_2007_PT_Transformed.png' />
<File Id='Image160' Name='Delta_FpCD_2007_Transformed.png' />
<File Id='Image161' Name='Delta_FpCD_Gross.png' />
<File Id='Image162' Name='Delta_FpCD_PS.png' />
<File Id='Image163' Name='Delta_FpCD_PS_Gross.png' />
<File Id='Image164' Name='Delta_FpCD_PS_Transformed.png' />
<File Id='Image165' Name='Delta_FpCD_PT_Gross.png' />
<File Id='Image166' Name='Delta_FpCD_PT_Transformed.png' />
<File Id='Image167' Name='Delta_FpCD_Transformed.png' />
<File Id='Image168' Name='Delta_FpCR.png' />
<File Id='Image169' Name='Delta_FpCRH.png' />
<File Id='Image170' Name='Delta_FpCRH_PT.png' />
<File Id='Image171' Name='Delta_FpCR_2004.png' />
<File Id='Image172' Name='Delta_FpCR_PT.png' />
<File Id='Image173' Name='Delta_FpCR_TxDOT_2013.png' />
<File Id='Image174' Name='Delta_FpES_Gross.png' />
<File Id='Image175' Name='Delta_FpES_Transformed.png' />
<File Id='Image176' Name='Delta_FpES_TxDOTPerm.png' />
<File Id='Image177' Name='Delta_FpES_TxDOTTemp.png' />
<File Id='Image178' Name='Delta_FpF.png' />
<File Id='Image179' Name='Delta_FpLL.png' />
<File Id='Image180' Name='Delta_Fpp.png' />
<File Id='Image181' Name='Delta_Fpp_BeforeShipping.png' />
<File Id='Image182' Name='Delta_FpR0_LR.png' />
<File Id='Image183' Name='Delta_FpR0_SR.png' />
<File Id='Image184' Name='Delta_FpR1.png' />
<File Id='Image185' Name='Delta_FpR1H.png' />
<File Id='Image186' Name='Delta_FpR1H_Simplified.png' />
<File Id='Image187' Name='Delta_FpR1_LR.png' />
<File Id='Image188' Name='Delta_FpR1_Simplified.png' />
<File Id='Image189' Name='Delta_FpR1_SR.png' />
<File Id='Image190' Name='Delta_FpR2_2005.png' />
<File Id='Image191' Name='Delta_FpR2_LR_SI.png' />
<File Id='Image192' Name='Delta_FpR2_LR_US.png' />
<File Id='Image193' Name='Delta_FpR2_SR_SI.png' />
<File Id='Image194' Name='Delta_FpR2_SR_US.png' />
<File Id='Image195' Name='Delta_Fpr_TxDOT_2013.png' />
<File Id='Image196' Name='Delta_FpSD_Gross.png' />
<File Id='Image197' Name='Delta_FpSD_Transformed.png' />
<File Id='Image198' Name='Delta_FpSRH_Gross.png' />
<File Id='Image199' Name='Delta_FpSRH_Transformed.png' />
<File Id='Image200' Name='Delta_FpSR_2004_SI.png' />
<File Id='Image201' Name='Delta_FpSR_2004_US.png' />
<File Id='Image202' Name='Delta_FpSR_Gross.png' />
<File Id='Image203' Name='Delta_FpSR_Transformed.png' />
<File Id='Image204' Name='Delta_FpSR_TxDOT_2013.png' />
<File Id='Image205' Name='Delta_FpSS_Gross.png' />
<File Id='Image206' Name='Delta_FpSS_Transformed.png' />
<File Id='Image207' Name='Delta_Fpt.png' />
<File Id='Image208' Name='Delta_Fptr.png' />
<File Id='Image209' Name='Delta_Fpt_BeforeShipping.png' />
<File Id='Image210' Name='DevLengthReduction.png' />
<File Id='Image211' Name='DevLength_SI.png' />
<File Id='Image212' Name='DevLength_US.png' />
<File Id='Image213' Name='Diaphragm Pic.jpg' />
<File Id='Image214' Name='DoubleTee.jpg' />
<File Id='Image215' Name='DoubleTee_Composite.gif' />
<File Id='Image216' Name='DoubleTee_Effective_Flange_Width_Exterior_Girder.gif' />
<File Id='Image217' Name='DoubleTee_Effective_Flange_Width_Exterior_Girder_2008.gif' />
<File Id='Image218' Name='DoubleTee_Effective_Flange_Width_Interior_Girder.gif' />
<File Id='Image219' Name='DoubleTee_Effective_Flange_Width_Interior_Girder_2008.gif' />
<File Id='Image220' Name='DoubleTee_Noncomposite.gif' />
<File Id='Image221' Name='dv.png' />
<File Id='Image222' Name='EffectivePrestress.png' />
<File Id='Image223' Name='EffectivePrestress_Approx.png' />
<File Id='Image224' Name='eg Pic.jpg' />
<File Id='Image225' Name='eg.png' />
<File Id='Image226' Name='ElasticGain.png' />
<File Id='Image227' Name='ElasticGain2.png' />
<File Id='Image228' Name='ex.png' />
<File Id='Image229' Name='ExteriorBarrier.jpg' />
<File Id='Image230' Name='ex_2000.png' />
<File Id='Image231' Name='ex_2000_WSDOT.png' />
<File Id='Image232' Name='ex_2003.png' />
<File Id='Image233' Name='ex_2003_WSDOT.png' />
<File Id='Image234' Name='ex_2005.png' />
<File Id='Image235' Name='ex_2008.png' />
<File Id='Image236' Name='fcpe.png' />
<File Id='Image237' Name='Fe.png' />
<File Id='Image238' Name='Fpc Pic.jpg' />
<File Id='Image239' Name='fpc_2007.png' />
<File Id='Image240' Name='fpo.png' />
<File Id='Image241' Name='fpo_2000.png' />
<File Id='Image242' Name='FrictionAndAnchorSetLosses.gif' />
<File Id='Image243' Name='FScrHauling.png' />
<File Id='Image244' Name='FScrLifting.png' />
<File Id='Image245' Name='FSfLifting.png' />
<File Id='Image246' Name='FSrHauling.png' />
<File Id='Image247' Name='GeneralizedFlexureResistanceFactor.png' />
<File Id='Image248' Name='Girder Dimensions.jpg' />
<File Id='Image249' Name='GirderOrientationEffect.gif' />
<File Id='Image250' Name='GirderOrientationEffectEquation.png' />
<File Id='Image251' Name='GirderSchedule.jpg' />
<File Id='Image252' Name='GirderStrandCoords.jpg' />
<File Id='Image253' Name='GlobalGirderStability.gif' />
<File Id='Image254' Name='HarpedStrandCamberLoading.gif' />
<File Id='Image255' Name='HumidityFactor.png' />
<File Id='Image256' Name='IBeam.jpg' />
<File Id='Image257' Name='IBeam_Effective_Flange_Width_Exterior_Girder.gif' />
<File Id='Image258' Name='IBeam_Effective_Flange_Width_Exterior_Girder_2008.gif' />
<File Id='Image259' Name='IBeam_Effective_Flange_Width_Interior_Girder.gif' />
<File Id='Image260' Name='IBeam_Effective_Flange_Width_Interior_Girder_2008.gif' />
<File Id='Image261' Name='IBeam_Slab_CIP.gif' />
<File Id='Image262' Name='IBeam_Slab_SIP.gif' />
<File Id='Image263' Name='J.png' />
<File Id='Image264' Name='J_closed_thin_wall.png' />
<File Id='Image265' Name='KcEqn-SI.png' />
<File Id='Image266' Name='KcEqn-US.png' />
<File Id='Image267' Name='KfEqn-SI.png' />
<File Id='Image268' Name='KfEqn-US.png' />
<File Id='Image269' Name='KfEqn2005-SI.png' />
<File Id='Image270' Name='KfEqn2005-US.png' />
<File Id='Image271' Name='Kg.png' />
<File Id='Image272' Name='KhcEqn.png' />
<File Id='Image273' Name='KtdEqn-SI.png' />
<File Id='Image274' Name='KtdEqn-US.png' />
<File Id='Image275' Name='KvsEqn-SI.png' />
<File Id='Image276' Name='KvsEqn-US.png' />
<File Id='Image277' Name='KvsEqn2006-SI.png' />
<File Id='Image278' Name='KvsEqn2006-US.png' />
<File Id='Image279' Name='KvsEqn2007-SI.png' />
<File Id='Image280' Name='KvsEqn2007-US.png' />
<File Id='Image281' Name='LeverRuleExterior.gif' />
<File Id='Image282' Name='LeverRuleInterior.gif' />
<File Id='Image283' Name='LimitingCapacityOfOverReinforcedSections.jpg' />
<File Id='Image284' Name='LLDF_Type_HIJ_SI.png' />
<File Id='Image285' Name='LLDF_Type_HIJ_TxDOT.png' />
<File Id='Image286' Name='LLDF_Type_HIJ_US.png' />
<File Id='Image287' Name='LongitudinalRebarDevelopment_SI.png' />
<File Id='Image288' Name='LongitudinalRebarDevelopment_US.png' />
<File Id='Image289' Name='LongitudinalReinforcementForShear.png' />
<File Id='Image290' Name='LongitudinalReinforcementForShear2005.png' />
<File Id='Image291' Name='LRFDCreepEqn.png' />
<File Id='Image292' Name='LRFDCreepEqn2005.png' />
<File Id='Image293' Name='LRFDCreepEqn2007.png' />
<File Id='Image294' Name='LRFD_Shrinkage_2005_SI.png' />
<File Id='Image295' Name='LRFD_Shrinkage_2005_US.png' />
<File Id='Image296' Name='LRFD_Shrinkage_MoistCured_SI.png' />
<File Id='Image297' Name='LRFD_Shrinkage_MoistCured_US.png' />
<File Id='Image298' Name='LRFD_Shrinkage_SteamCured_SI.png' />
<File Id='Image299' Name='LRFD_Shrinkage_SteamCured_US.png' />
<File Id='Image300' Name='LumpSumLoss_2005_SI.png' />
<File Id='Image301' Name='LumpSumLoss_2005_US.png' />
<File Id='Image302' Name='LumpSumLoss_Shipping_2005_SI.png' />
<File Id='Image303' Name='LumpSumLoss_Shipping_2005_US.png' />
<File Id='Image304' Name='Madl.png' />
<File Id='Image305' Name='Madl2.png' />
<File Id='Image306' Name='Madl3.png' />
<File Id='Image307' Name='Madl4.png' />
<File Id='Image308' Name='Mcr.png' />
<File Id='Image309' Name='Mcre.png' />
<File Id='Image310' Name='Mcr_2005.png' />
<File Id='Image311' Name='Mcr_2012.png' />
<File Id='Image312' Name='mg_1_ME_Type_G_SI.png' />
<File Id='Image313' Name='mg_1_ME_Type_G_US.png' />
<File Id='Image314' Name='mg_1_MI_Type_C_SI.png' />
<File Id='Image315' Name='mg_1_MI_Type_C_US.png' />
<File Id='Image316' Name='mg_1_MI_Type_F_SI.png' />
<File Id='Image317' Name='mg_1_MI_Type_F_US.png' />
<File Id='Image318' Name='mg_1_MI_Type_G_SI.png' />
<File Id='Image319' Name='mg_1_MI_Type_G_US.png' />
<File Id='Image320' Name='mg_1_MI_Type_K_SI.png' />
<File Id='Image321' Name='mg_1_MI_Type_K_US.png' />
<File Id='Image322' Name='mg_1_VE_Type_G_SI.png' />
<File Id='Image323' Name='mg_1_VE_Type_G_US.png' />
<File Id='Image324' Name='mg_1_VI_Type_C_SI.png' />
<File Id='Image325' Name='mg_1_VI_Type_C_US.png' />
<File Id='Image326' Name='mg_1_VI_Type_G_SI.png' />
<File Id='Image327' Name='mg_1_VI_Type_G_US.png' />
<File Id='Image328' Name='mg_1_VI_Type_K_SI.png' />
<File Id='Image329' Name='mg_1_VI_Type_K_US.png' />
<File Id='Image330' Name='mg_2_ME_Type_C_SI.png' />
<File Id='Image331' Name='mg_2_ME_Type_C_US.png' />
<File Id='Image332' Name='mg_2_ME_Type_G_SI.png' />
<File Id='Image333' Name='mg_2_ME_Type_G_US.png' />
<File Id='Image334' Name='mg_2_ME_Type_K_SI.png' />
<File Id='Image335' Name='mg_2_ME_Type_K_US.png' />
<File Id='Image336' Name='mg_2_MI_Type_C_SI.png' />
<File Id='Image337' Name='mg_2_MI_Type_C_US.png' />
<File Id='Image338' Name='mg_2_MI_Type_F_SI.png' />
<File Id='Image339' Name='mg_2_MI_Type_F_US.png' />
<File Id='Image340' Name='mg_2_MI_Type_G_SI.png' />
<File Id='Image341' Name='mg_2_MI_Type_G_US.png' />
<File Id='Image342' Name='mg_2_MI_Type_K_SI.png' />
<File Id='Image343' Name='mg_2_MI_Type_K_US.png' />
<File Id='Image344' Name='mg_2_VE_Type_C_SI.png' />
<File Id='Image345' Name='mg_2_VE_Type_C_US.png' />
<File Id='Image346' Name='mg_2_VE_Type_G_SI.png' />
<File Id='Image347' Name='mg_2_VE_Type_G_US.png' />
<File Id='Image348' Name='mg_2_VE_Type_K_SI.png' />
<File Id='Image349' Name='mg_2_VE_Type_K_US.png' />
<File Id='Image350' Name='mg_2_VI_Typc_C_SI.png' />
<File Id='Image351' Name='mg_2_VI_Typc_C_US.png' />
<File Id='Image352' Name='mg_2_VI_Type_G_SI.png' />
<File Id='Image353' Name='mg_2_VI_Type_G_US.png' />
<File Id='Image354' Name='mg_2_VI_Type_K_SI.png' />
<File Id='Image355' Name='mg_2_VI_Type_K_US.png' />
<File Id='Image356' Name='Mlat.png' />
<File Id='Image357' Name='Mo.png' />
<File Id='Image358' Name='ModE_SI.png' />
<File Id='Image359' Name='ModE_SI_2005.png' />
<File Id='Image360' Name='ModE_US.png' />
<File Id='Image361' Name='ModE_US_2005.png' />
<File Id='Image362' Name='MomentRatingEquation.png' />
<File Id='Image363' Name='MomentRatingEquationPT.png' />
<File Id='Image364' Name='MomentRatingParameters.png' />
<File Id='Image365' Name='Msidl.png' />
<File Id='Image366' Name='Msw.png' />
<File Id='Image367' Name='MultiWeb.jpg' />
<File Id='Image368' Name='MultiWeb2.gif' />
<File Id='Image369' Name='Muser.png' />
<File Id='Image370' Name='NegativeMomentFlexureResistanceFactor.png' />
<File Id='Image371' Name='NUbeam.jpg' />
<File Id='Image372' Name='PositiveMomentFlexureResistanceFactor.png' />
<File Id='Image373' Name='PositiveMomentFlexureResistanceFactor_SplicedGirders.png' />
<File Id='Image374' Name='PrestressLossAtHaulingWithPT_LRFD.png' />
<File Id='Image375' Name='PrestressLossAtHaulingWithPT_WSDOT.png' />
<File Id='Image376' Name='PrestressLossAtHauling_LRFD.png' />
<File Id='Image377' Name='PrestressLossAtHauling_WSDOT.png' />
<File Id='Image378' Name='ProfileEffect.gif' />
<File Id='Image379' Name='PTLossAtHauling.png' />
<File Id='Image380' Name='Ptr.png' />
<File Id='Image381' Name='Ptr_PT.png' />
<File Id='Image382' Name='Ptr_PTBeforeShipping.png' />
<File Id='Image383' Name='ReinforcementYieldingEquation.png' />
<File Id='Image384' Name='ReinforcementYieldingEquationPT.png' />
<File Id='Image385' Name='ReinforcementYieldingParameters.png' />
<File Id='Image386' Name='RequiredShearReinforcement1.png' />
<File Id='Image387' Name='RequiredShearReinforcement2.png' />
<File Id='Image388' Name='RigidMethod.gif' />
<File Id='Image389' Name='SafePostingLoad.png' />
<File Id='Image390' Name='Shear Zone Pic.jpg' />
<File Id='Image391' Name='ShearRatingEquation.png' />
<File Id='Image392' Name='ShearRatingEquationPT.png' />
<File Id='Image393' Name='SkewCorrection_Moment_SI.png' />
<File Id='Image394' Name='SkewCorrection_Moment_TypeC.png' />
<File Id='Image395' Name='SkewCorrection_Moment_US.png' />
<File Id='Image396' Name='SkewCorrection_Shear_SI.png' />
<File Id='Image397' Name='SkewCorrection_Shear_TypeC_SI.png' />
<File Id='Image398' Name='SkewCorrection_Shear_TypeC_US.png' />
<File Id='Image399' Name='SkewCorrection_Shear_TypeF_SI.png' />
<File Id='Image400' Name='SkewCorrection_Shear_TypeF_US.png' />
<File Id='Image401' Name='SkewCorrection_Shear_US.png' />
<File Id='Image402' Name='SlabShrinkageStress_Fbot_Gross.png' />
<File Id='Image403' Name='SlabShrinkageStress_Fbot_Transformed.png' />
<File Id='Image404' Name='SlabShrinkageStress_Ftop_Gross.png' />
<File Id='Image405' Name='SlabShrinkageStress_Ftop_Transformed.png' />
<File Id='Image406' Name='SlopeAdjustedGirderLength.png' />
<File Id='Image407' Name='SolidSlab_Composite.gif' />
<File Id='Image408' Name='SolidSlab_Noncomposite.gif' />
<File Id='Image409' Name='Span Length Pic.jpg' />
<File Id='Image410' Name='SplicedIBeam.jpg' />
<File Id='Image411' Name='SpreadBoxBeam_Effective_Flange_Width_Exterior_Girder.gif' />
<File Id='Image412' Name='SpreadBoxBeam_Effective_Flange_Width_Exterior_Girder_2008.gif' />
<File Id='Image413' Name='SpreadBoxBeam_Effective_Flange_Width_Interior_Girder.gif' />
<File Id='Image414' Name='SpreadBoxBeam_Effective_Flange_Width_Interior_Girder_2008.gif' />
<File Id='Image415' Name='StraightStrandCamberLoading.gif' />
<File Id='Image416' Name='Strand Slope.jpg' />
<File Id='Image417' Name='StressRatingEquation.png' />
<File Id='Image418' Name='StressRatingEquationPT.png' />
<File Id='Image419' Name='SxeEqn.png' />
<File Id='Image420' Name='TaperedIBeam.jpg' />
<File Id='Image421' Name='TempStrandCamberLoading.gif' />
<File Id='Image422' Name='ThetaEquation.png' />
<File Id='Image423' Name='ThetaHauling.png' />
<File Id='Image424' Name='ThetaMax.png' />
<File Id='Image425' Name='ThetaPrimeMaxHauling.png' />
<File Id='Image426' Name='ThetaPrimeMaxLifting.png' />
<File Id='Image427' Name='TimeDependentLosses.png' />
<File Id='Image428' Name='title_page_art.gif' />
<File Id='Image429' Name='TotalPrestressLossWithPS_LRFD.png' />
<File Id='Image430' Name='TotalPrestressLossWithPS_LRFD_2005.png' />
<File Id='Image431' Name='TotalPrestressLossWithPS_WSDOT.png' />
<File Id='Image432' Name='TotalPrestressLossWithPS_WSDOT_2005.png' />
<File Id='Image433' Name='TotalPrestressLossWithPT_LRFD.png' />
<File Id='Image434' Name='TotalPrestressLossWithPT_LRFD_2005.png' />
<File Id='Image435' Name='TotalPrestressLossWithPT_WSDOT.png' />
<File Id='Image436' Name='TotalPrestressLossWithPT_WSDOT_2005.png' />
<File Id='Image437' Name='TotalPrestressLoss_LRFD.png' />
<File Id='Image438' Name='TotalPrestressLoss_LRFD_2005.png' />
<File Id='Image439' Name='TotalPrestressLoss_WSDOT.png' />
<File Id='Image440' Name='TotalPrestressLoss_WSDOT_2005.png' />
<File Id='Image441' Name='TransferLength.png' />
<File Id='Image442' Name='TripleTee_Composite.gif' />
<File Id='Image443' Name='TripleTee_Effective_Flange_Width_Exterior_Girder.gif' />
<File Id='Image444' Name='TripleTee_Effective_Flange_Width_Exterior_Girder_2008.gif' />
<File Id='Image445' Name='TripleTee_Effective_Flange_Width_Interior_Girder.gif' />
<File Id='Image446' Name='TripleTee_Effective_Flange_Width_Interior_Girder_2008.gif' />
<File Id='Image447' Name='TripleTee_Noncomposite.gif' />
<File Id='Image448' Name='TxDOT2013TimeDependentLosses.png' />
<File Id='Image449' Name='TxDotDoubleT.gif' />
<File Id='Image450' Name='TxDOT_Delta_Fcd.png' />
<File Id='Image451' Name='TxDOT_Delta_Fcd_07.png' />
<File Id='Image452' Name='TxDOT_Logo.gif' />
<File Id='Image453' Name='UBeam.jpg' />
<File Id='Image454' Name='UBeam2.jpg' />
<File Id='Image455' Name='UBeam_Composite.gif' />
<File Id='Image456' Name='UBeam_Effective_Flange_Width_Exterior_Girder.gif' />
<File Id='Image457' Name='UBeam_Effective_Flange_Width_Exterior_Girder_2008.gif' />
<File Id='Image458' Name='UBeam_Effective_Flange_Width_Interior_Girder.gif' />
<File Id='Image459' Name='UBeam_Effective_Flange_Width_Interior_Girder_2008.gif' />
<File Id='Image460' Name='UBeam_Slab_CIP.gif' />
<File Id='Image461' Name='UBeam_Slab_SIP.gif' />
<File Id='Image462' Name='Ultimate Moment Capacity Noncomposite.gif' />
<File Id='Image463' Name='Ultimate Moment Capacity Pic.gif' />
<File Id='Image464' Name='VcEquation_ALWC_SI.png' />
<File Id='Image465' Name='VcEquation_ALWC_US.png' />
<File Id='Image466' Name='VcEquation_LWC_SI.png' />
<File Id='Image467' Name='VcEquation_LWC_US.png' />
<File Id='Image468' Name='VcEquation_NWC_SI.png' />
<File Id='Image469' Name='VcEquation_NWC_US.png' />
<File Id='Image470' Name='VcEquation_SLWC_SI.png' />
<File Id='Image471' Name='VcEquation_SLWC_US.png' />
<File Id='Image472' Name='Vci_ALWC.png' />
<File Id='Image473' Name='Vci_LWC.png' />
<File Id='Image474' Name='Vci_NWC.png' />
<File Id='Image475' Name='Vci_SLWC.png' />
<File Id='Image476' Name='Vcw_ALWC.png' />
<File Id='Image477' Name='Vcw_LWC.png' />
<File Id='Image478' Name='Vcw_NWC.png' />
<File Id='Image479' Name='Vcw_SLWC.png' />
<File Id='Image480' Name='Vn_BoxBeam_Composite.gif' />
<File Id='Image481' Name='Vn_BoxBeam_Noncomposite.gif' />
<File Id='Image482' Name='Vn_BulbTee_Composite.gif' />
<File Id='Image483' Name='Vn_BulbTee_Noncomposite.gif' />
<File Id='Image484' Name='Vn_DeckedSlabBeam_Composite.gif' />
<File Id='Image485' Name='Vn_DeckedSlabBeam_Noncomposite.gif' />
<File Id='Image486' Name='Vn_DoubleTee_Composite.gif' />
<File Id='Image487' Name='Vn_DoubleTee_Noncomposite.gif' />
<File Id='Image488' Name='Vn_IBeam.gif' />
<File Id='Image489' Name='Vn_SpreadBoxBeam_Composite.gif' />
<File Id='Image490' Name='Vn_SpreadVoidedSlab_Composite.gif' />
<File Id='Image491' Name='Vn_TripleTee_Composite.gif' />
<File Id='Image492' Name='Vn_TripleTee_Noncomposite.gif' />
<File Id='Image493' Name='Vn_UBeam.gif' />
<File Id='Image494' Name='Vn_VoidedSlab_Composite.gif' />
<File Id='Image495' Name='Vn_VoidedSlab_Noncomposite.gif' />
<File Id='Image496' Name='VoidedSlab.JPG' />
<File Id='Image497' Name='VoidedSlab2.jpg' />
<File Id='Image498' Name='VoidedSlab_Composite.gif' />
<File Id='Image499' Name='VoidedSlab_Composite_CIP.gif' />
<File Id='Image500' Name='VoidedSlab_Composite_SIP.gif' />
<File Id='Image501' Name='VoidedSlab_Effective_Flange_Width_Exterior_Girder.gif' />
<File Id='Image502' Name='VoidedSlab_Effective_Flange_Width_Exterior_Girder_2008.gif' />
<File Id='Image503' Name='VoidedSlab_Effective_Flange_Width_Interior_Girder.gif' />
<File Id='Image504' Name='VoidedSlab_Effective_Flange_Width_Interior_Girder_2008.gif' />
<File Id='Image505' Name='VoidedSlab_Noncomposite.gif' />
<File Id='Image506' Name='VoidedSlab_TorsionalConstant.gif' />
<File Id='Image507' Name='Vs.png' />
<File Id='Image508' Name='vu.png' />
<File Id='Image509' Name='vu_2005.png' />
<File Id='Image510' Name='WSDOTlogo.jpg' />
<File Id='Image511' Name='zo.png' />
<File Id='Image512' Name='zo_prime_hauling.png' />
<File Id='Image513' Name='zo_prime_lifting.png' />
</Component>
</DirectoryRef>
</Fragment>
</Wix>
