<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

   <!-- Include project wide variables -->
   <?include Variables.wxi?>

   <Fragment>
      <!-- Start Menu Shortcut for "Engineering Applications" -->
      <DirectoryRef Id="EngineeringApplicationsStartMenuFolder">
         <Component Id="EngineeringApplicationsShortcuts"
                    Guid="{5CA0743C-9A13-4b55-8697-1BEB98D64415}"
                    Win64="$(var.IsWin64)">

            <RegistryValue Root="HKCU"
                           Key="Software\Microsoft\[ProductName]"
                           Name="installed"
                           Type="integer"
                           Value="1"
                           KeyPath="yes"/>

            <RemoveFolder Id="EngineeringApplicationsStartMenuFolder"
                          On="uninstall"/>
         </Component>
      </DirectoryRef>
      
      <!-- BridgeLink folder under Engineering Applications -->
      <DirectoryRef Id="BridgeLinkStartMenuFolder">
         <Component Id="BridgeLinkShortcuts"
                    Guid="{B51A2CA6-FC9D-42ab-A975-6651713E08A9}"
                    Win64="$(var.IsWin64)">

            <Shortcut Id="BridgeLinkShortcut"
                      Name="$(var.ProductName) ($(var.Platform))"
                      Description="$(var.ProductName)"
                      Target="[APPLICATIONFOLDER]$(var.ProductName).exe"
                      WorkingDirectory="APPLICATIONFOLDER"
                      Icon='BridgeLinkIcon'
                      IconIndex="0"
                  />

            <Shortcut Id="BridgeLinkHelpShortcut"
                      Name="BridgeLink Documentation"
                      Description="BridgeLink Documentation"
                      Target="[APPLICATIONFOLDER]BridgeLink.chm"
                      WorkingDirectory="APPLICATIONFOLDER"
                  />

            <RemoveFolder Id="BridgeLinkStartMenuFolder"
                          On="uninstall"/>

            <RegistryValue Root="HKCU"
                           Key="Software\Microsoft\[ProductName]"
                           Name="installed"
                           Type="integer"
                           Value="1"
                           KeyPath="yes"/>
         </Component>
      </DirectoryRef>

   </Fragment>
</Wix>