<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

   <!-- Include project wide variables -->
   <?include Variables.wxi?>
   <?include PGSuperCATID.wxi?>
   <?include PGSpliceCATID.wxi?>

   <Fragment>
      <!-- WSDOT PGSuper Extensions -->
      <DirectoryRef Id="APPLICATIONFOLDER"
                    FileSource ="$(var.PGSuperSourceRoot)\Extensions\WSDOT\$(var.PlatformFolder)">

         <Component Id="WSDOTAgent"
                    Guid="{BD788945-CBAB-4537-AE4D-840404768FBF}"
                    Win64="$(var.IsWin64)">
            <File Id="WSDOTAgent.dll"
                  Name="WSDOTAgent.dll"
                  KeyPath="yes"/>

            <!-- WSDOT Component Information Object-->
            <!-- PGSuper -->
            <?define PGSuperWSDOTComponentInfoCLSID={5656F52E-4DC8-4299-8AD1-23EB3AE46353}?>
            <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                         Root="HKCR"
                         Key ="CLSID\$(var.PGSuperWSDOTComponentInfoCLSID)"/>
            <RegistryValue Root="HKCR"
                           Key="CLSID\$(var.PGSuperWSDOTComponentInfoCLSID)"
                           Value="WSDOT Component Information"
                           Type="string" />
            <RegistryValue Root="HKCR"
                           Key="CLSID\$(var.PGSuperWSDOTComponentInfoCLSID)\InprocServer32"
                           Value="[APPLICATIONFOLDER]WSDOTAgent.dll"
                           Type="string" />
            <RegistryValue Root="HKCR"
                           Key="CLSID\$(var.PGSuperWSDOTComponentInfoCLSID)\Implemented Categories\$(var.PGSuperComponentInfoCATID)"
                           Value=""
                           Type="string" />

            <!-- PGSplice -->
            <?define PGSpliceWSDOTComponentInfoCLSID={E389A200-D722-4977-AE9F-939F9C121A1C}?>
            <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                         Root="HKCR"
                         Key ="CLSID\$(var.PGSpliceWSDOTComponentInfoCLSID)"/>
            <RegistryValue Root="HKCR"
                           Key="CLSID\$(var.PGSpliceWSDOTComponentInfoCLSID)"
                           Value="WSDOT Component Information"
                           Type="string" />
            <RegistryValue Root="HKCR"
                           Key="CLSID\$(var.PGSpliceWSDOTComponentInfoCLSID)\InprocServer32"
                           Value="[APPLICATIONFOLDER]WSDOTAgent.dll"
                           Type="string" />
            <RegistryValue Root="HKCR"
                           Key="CLSID\$(var.PGSpliceWSDOTComponentInfoCLSID)\Implemented Categories\$(var.PGSpliceComponentInfoCATID)"
                           Value=""
                           Type="string" />

            <!-- WSDOT Extension Agent-->
            <!-- PGSuper -->
            <?define PGSuperWSDOTExtensionAgentCLSID={B1A19633-8880-40bc-A3C9-DDF47F7F1844}?>
            <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                         Root="HKCR"
                         Key ="CLSID\$(var.PGSuperWSDOTExtensionAgentCLSID)"/>
            <RegistryValue Root="HKCR"
                           Key="CLSID\$(var.PGSuperWSDOTExtensionAgentCLSID)"
                           Value="WSDOT Extensions"
                           Type="string" />
            <RegistryValue Root="HKCR"
                           Key="CLSID\$(var.PGSuperWSDOTExtensionAgentCLSID)\InprocServer32"
                           Value="[APPLICATIONFOLDER]WSDOTAgent.dll"
                           Type="string" />
            <RegistryValue Root="HKCR"
                           Key="CLSID\$(var.PGSuperWSDOTExtensionAgentCLSID)\Implemented Categories\$(var.PGSuperExtensionAgentCATID)"
                           Value=""
                           Type="string" />

            <!-- PGSplice -->
            <!-- 
            If the WSDOT Extension Agent extends PGSplice in the future, uncomment this block and
            add the CLSID for the extension agent class object
            <?define PGSpliceWSDOTExtensionAgentCLSID={INSERT CLSID HERE}?>
            <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                         Root="HKCR"
                         Key ="CLSID\$(var.PGSpliceWSDOTExtensionAgentCLSID)"/>
            <RegistryValue Root="HKCR"
                           Key="CLSID\$(var.PGSpliceWSDOTExtensionAgentCLSID)"
                           Value="WSDOT Extensions"
                           Type="string" />
            <RegistryValue Root="HKCR"
                           Key="CLSID\$(var.PGSpliceWSDOTExtensionAgentCLSID)\InprocServer32"
                           Value="[APPLICATIONFOLDER]WSDOTAgent.dll"
                           Type="string" />
            <RegistryValue Root="HKCR"
                           Key="CLSID\$(var.PGSpliceWSDOTExtensionAgentCLSID)\Implemented Categories\$(var.PGSpliceExtensionAgentCATID)"
                           Value=""
                           Type="string" />
             -->

            <!-- Curvel Exporter -->
           <?define WSDOTCurvelDataExporterCLSID={E89CC143-53C9-43df-B1B4-E522769DE29B}?>
           <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                      Root="HKCR"
                      Key ="CLSID\$(var.WSDOTCurvelDataExporterCLSID)"/>
           <RegistryValue Root="HKCR"
                          Key="CLSID\$(var.WSDOTCurvelDataExporterCLSID)"
                          Value="Curvel Exporter"
                          Type="string" />
           <RegistryValue Root="HKCR"
                          Key="CLSID\$(var.WSDOTCurvelDataExporterCLSID)\InprocServer32"
                          Value="[APPLICATIONFOLDER]WSDOTAgent.dll"
                          Type="string" />
           <RegistryValue Root="HKCR"
                          Key="CLSID\$(var.WSDOTCurvelDataExporterCLSID)\Implemented Categories\$(var.PGSuperDataExporterCATID)"
                          Value=""
                          Type="string" />
            <RegistryValue Root="HKCR"
                           Key="CLSID\$(var.WSDOTCurvelDataExporterCLSID)\Implemented Categories\$(var.PGSpliceDataExporterCATID)"
                           Value=""
                           Type="string" />

            <!-- Curvel Importer -->
           <?define WSDOTCurvelDataImporterCLSID={E56801AC-B583-4e9e-A2D8-2AA64079BE15}?>
           <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                      Root="HKCR"
                      Key ="CLSID\$(var.WSDOTCurvelDataImporterCLSID)"/>
           <RegistryValue Root="HKCR"
                          Key="CLSID\$(var.WSDOTCurvelDataImporterCLSID)"
                          Value="Curvel Importer"
                          Type="string" />
           <RegistryValue Root="HKCR"
                          Key="CLSID\$(var.WSDOTCurvelDataImporterCLSID)\InprocServer32"
                          Value="[APPLICATIONFOLDER]WSDOTAgent.dll"
                          Type="string" />
           <RegistryValue Root="HKCR"
                          Key="CLSID\$(var.WSDOTCurvelDataImporterCLSID)\Implemented Categories\$(var.PGSuperDataImporterCATID)"
                          Value=""
                          Type="string" />
            <RegistryValue Root="HKCR"
                           Key="CLSID\$(var.WSDOTCurvelDataImporterCLSID)\Implemented Categories\$(var.PGSpliceDataImporterCATID)"
                           Value=""
                           Type="string" />

            <!-- GenComp Exporter -->
           <?define WSDOTGenCompDataExporterCLSID={16A21688-25B4-4118-ABF4-DD6D4983A2CD}?>
           <RegistryKey ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"
                      Root="HKCR"
                      Key ="CLSID\$(var.WSDOTGenCompDataExporterCLSID)"/>
           <RegistryValue Root="HKCR"
                          Key="CLSID\$(var.WSDOTGenCompDataExporterCLSID)"
                          Value="GenComp Exporter"
                          Type="string" />
           <RegistryValue Root="HKCR"
                          Key="CLSID\$(var.WSDOTGenCompDataExporterCLSID)\InprocServer32"
                          Value="[APPLICATIONFOLDER]WSDOTAgent.dll"
                          Type="string" />
           <RegistryValue Root="HKCR"
                          Key="CLSID\$(var.WSDOTGenCompDataExporterCLSID)\Implemented Categories\$(var.PGSuperDataExporterCATID)"
                          Value=""
                          Type="string" />
            <RegistryValue Root="HKCR"
                           Key="CLSID\$(var.WSDOTGenCompDataExporterCLSID)\Implemented Categories\$(var.PGSpliceDataExporterCATID)"
                           Value=""
                           Type="string" />
         </Component>
      </DirectoryRef>

      <Feature Id="WSDOTExtensions"
               Absent="allow"
               ConfigurableDirectory="APPLICATIONFOLDER"
               Description="Extend PGSuper and PGSplice with WSDOT specific features"
               Display="expand"
               Title="WSDOT Extensions (Optional)"
               Level="1">
         <ComponentRef Id="WSDOTAgent"/>
      </Feature>

   
   </Fragment>
</Wix>